h1{
    color: rgb(235, 235, 237);
}
a{
    color: rgb(235, 235, 241);
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;    
    background-color: rgba(202, 22, 22, 0.845);
    
}
h2{
    color: rgb(139, 133, 133);
}
p {
    color: rgb(209, 7, 7);
    font-size: 30px;
}

html {
    color: slategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    background-color: navy;
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.737);
    padding: 10px 50px 10px 100px;
    
    
}
a:link {
    color:rgb(21, 117, 220);
}
a:hover {
    color: rgb(20, 63, 220);
    font-size: 20px;
}
li{
    color: crimson;
    font-size: 20px;
}
img {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(45, 76, 130);
    
    
    
}
